In [4]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Panda_Challenge/Resources/schools_complete.csv")
student_data_to_load = Path("Panda_Challenge/Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
# Calculate the total number of unique schools
total_school = school_data["school_name"].unique()
total_school

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [ ]:
# calculate the total nuber of students
total_student = student_data["student_name"].count()
total_student

In [ ]:
# calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

In [8]:
# Calculate the average (mean) math score
average_mathscore = student_data["math_score"].mean()
average_mathscore

78.98537145774827

In [9]:
# Calculate the average (mean) reading score
average_readingscore = student_data["reading_score"].mean()
average_readingscore

81.87784018381414

In [10]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passingmath_count = student_data[(student_data["math_score"] >= 70)].count()
passingmath_percentage = passingmath_count / total_student * 100
passingmath_percentage

Student ID       74.980853
student_name     74.980853
gender           74.980853
grade            74.980853
school_name      74.980853
reading_score    74.980853
math_score       74.980853
dtype: float64

In [11]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passingreadiing_count = student_data[(student_data["reading_score"] >= 70)].count()
passingreading_percentage = passingreadiing_count / total_student * 100
passingreading_percentage

Student ID       85.805463
student_name     85.805463
gender           85.805463
grade            85.805463
school_name      85.805463
reading_score    85.805463
math_score       85.805463
dtype: float64

In [12]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(total_student) * 100
overall_passing_rate

65.17232575950983

In [6]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = {
    "Total School": [total_school], 
    "Total_student": [total_student],
    "Total_budget": [total_budget],
    "Average_mathscore": [average_mathscore],
    "Average_readingscore": [average_readingscore],
    "% Passing Math": [passingmath_percentage],
    "% Passing Reading": [passingreading_percentage],
    "% Overall_passingrate": [overall_passing_rate]
}

#Display the DataFrame
district_summary = pd.DataFrame(district_summary, columns=[ "Total School","Total Student", "Total Budget",  "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"])
district_summary

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

NameError: name 'total_school' is not defined

School Summary

In [58]:
# School Name
grouped_school = school_data_complete.groupby(["school_name"])
grouped_school

In [59]:
# Use the code provided to select all of the school types
school_types = grouped_school["type"].first()
school_types

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [60]:
# Calculate the total student count per school
per_school_counts = grouped_school["student_name"].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [61]:
# Calculate the total school budget and per capita spending per school
per_school_budget = grouped_school["budget"].sum()
per_school_capita = per_school_budget / total_student
per_school_capita

629.2935409752362

In [62]:
# Calculate the average test scores per school
per_school_math = grouped_school["math_score"].mean()
per_school_reading = grouped_school["reading_score"].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [66]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = student_data[student_data["math_score"] >= 70].count()
school_students_passing_math = student_data[student_data["math_score"] >= 70].groupby(["school_name"])["math_score"].count()

In [ ]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = student_data[student_data["reading_score"] >= 70].groupby(["school_name"])["reading_score"].count()
school_students_passing_reading =

In [ ]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [ ]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "School Type": school_types
    "Total Students": per_school_counts,
    "Per School Budget": total school budge,
    "Per Student Budget": per student budget,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": students_passing_mat,
    "% Passing Reading": students_passing_reading,
    "% Overall Passing": overall_passing_rate
})

# Formatting
per_school_summary.style.format({'"School Type": {:,.2f}, 
    "Total Students": {:,.2f},
    "Per School Budget": ${:,.2f},
    "Per Student Budget": ${:,.2f},
    "Average Math Score": {:,.2f},
    "Average Reading Score": {:,.2f},
    "% Passing Math": {:,.2f},
    "% Passing Reading": {:,.2f},
    "% Overall Passing"::,.2f}, 
    })

# Display the DataFrame
per_school_summary = per_school_summary[[  "School Type",
    "Total Students",
    "Per School Budget",
    "Per Student Budget",
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing"]]