PyCity Schools Analysis

In [ ]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Panda_Challenge/Resources/schools_complete.csv")
student_data_to_load = Path("Panda_Challenge/Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

District Summary

In [ ]:
# Calculate the total number of unique schools
school_count = school_data["school_name"].unique()
school_count

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [ ]:
# calculate the total nuber of students
total_student = student_data["student_name"].count()
total_student

39170

In [ ]:
# calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [ ]:
# Calculate the average (mean) math score
average_mathscore = student_data["math_score"].mean()
average_mathscore

78.98537145774827

In [ ]:
# Calculate the average (mean) reading score
average_readingscore = student_data["reading_score"].mean()
average_readingscore

81.87784018381414

In [ ]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passingmath_count = student_data[(student_data["math_score"] >= 70)].count()
passingmath_percentage = passingmath_count / total_student * 100
passingmath_percentage

Student ID       74.980853
student_name     74.980853
gender           74.980853
grade            74.980853
school_name      74.980853
reading_score    74.980853
math_score       74.980853
dtype: float64

In [ ]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passingreadiing_count = student_data[(student_data["reading_score"] >= 70)].count()
passingreading_percentage = passingreadiing_count / total_student * 100
passingreading_percentage

Student ID       85.805463
student_name     85.805463
gender           85.805463
grade            85.805463
school_name      85.805463
reading_score    85.805463
math_score       85.805463
dtype: float64

In [ ]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = student_data[(student_data["average_mathscore"]) & (student_data["average_readingscore"])].count()
overall_passingrate = passing_math_reading_count / total_student * 100
overall_passingrate

In [ ]:
# Create a high-level snapshot of the district's key metrics in a Datafarme
district_summary = pd.DataFrame({
    "School Count": [school_count],
    "Total_student": [total_student],
    "Total_budget": [total_budget],
    "Average_mathscore": [average_mathscore],
    "Average_readingscore": [average_readingscore],
    "% Passing Math": [passingmath_percentage],
    "% Passing Reading": [passingreading_percentage],
    "% Overall_passingrate": [overall_passingrate]
})

# Format data 
district_summary["total student"] = district_summary["total student"].map("{:,}".format)
district_summary["total budget"] = district_summary["total budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

School Summary

In [ ]:
# Create a calculation for School Name
school_count = school_data["school_name"].unique()
school_count

NameError: name 'school_data' is not defined

In [ ]:
# Use the code provided to select all of the school types
school_types = school_count["type"].first()

NameError: name 'school_count' is not defined